    /* 
        Lab 4:

        1.  Set your <h1> header to a width of 300px and a height of 50px, with a background color of red.
        
        2.  The animation only starts when the user's cursor hovers over the header.

        3.  The animation should be 10 seconds long.

        4.  The animation starts with a red background then progress through blue, yellow, green, orange, and ending with purple. The animation then restarts at red.

        5.  As long as the user's cursor hovers over the header, the animation will continue to loop from red to purple.
    */



h1
    {
        width: 300px;
        height: 50px;
        background-color: red;
    }
h1:hover
    {
        animation: colorChange 10s;
        animation-iteration-count: infinite;
    }

@keyframes colorChange
    {
        0% {background-color: red;}
        20% {background-color: blue;}
        40% {background-color: yellow;}
        60% {background-color: green;}
        80% {background-color: orange;}
        100% {background-color: purple;}
    }