.main_body
    {
    width: 1000px;
    height: 600px;
    background-image: url('Lab_2_Image_2.png');
    background-repeat: no-repeat;
    background-size: 50% 70%;
    background-position: right bottom, left top;
    }

#my_menu .submenu ul
    {
    display: none;
    position: fixed;
    background-color: lightblue;
    list-style-type: none;
    border-left: 3px solid burlywood;
    border-right: 3px solid burlywood;
    border-bottom: 3px solid burlywood;
    margin-top: 0px;
    padding: 10px;
    font-size: 18px;
    }
#my_menu .submenu:hover ul
    {
    display: block;
    }

#my_menu
    {
    background-color: burlywood;
    }

#my_menu td
    {
    padding-left: 10px;
    padding-right: 10px;
    }



h1
{
    font-family: marcellus;   
}

ul
{
    list-style: square;
}




