                p>a
                    {
                    background-color: orange;
                    }
                h1, h2, h3, h4
                    {
                    background-color: lightblue;
                    }
                .textcolor
                    {
                    color: green;
                    }
                ul p
                    {
                    background-color: yellow;
                    }